
 
 
 
 
 
 
::-webkit-scrollbar{
  width:0;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

a {
text-decoration: none;
color: #3e3e95;
}

body{
 width:100vw;
height:100vh;
justify-content:center;
  display:grid;
  overflow: hidden;
}

h3{
  font-family:monospace;
  font-size:20px;
}

#main{
  width:100vw;
  max-width:540px;
  height:100vh;
  box-shadow:inset 0 0 10px 4px #1116;


}



h2{
 text-align:center;
  font-family:sans-serif;
  background-color: #1c1c46;
  color:#fff;
  text- sans-serif;
  background-color: #1c1c46;
  color:#fff;
  text-shadow:1px 1px 4px #111;
  margin-bottom:8PX;
}

#msg_area{
  height:82%;
  padding:0 12px;
  overflow-y:scroll;
  scroll-behaviour:smooth;
}
#bot{
  width:50px;
  height:50px;
  background:url(bot.jpg);
  background-size:100%;
  border-radius:50%;
  margin:10px;
}

#robot{
  display:flex;
  align-items:center;
  
  }
 #input{
  height:7%;
  min-height:42px;
  display:grid;
  grid-template-columns:70% 30%;
  margin:8px 16px;
  border-radius:32px;
  backround:linea-gradient(#ececee 50%, #1c1f46 50%);
  box-shadow:inset 0 1px 0 #777;
}


#text{
  outline:none;
  font-size:20px;
  backround:#ececee;
  color:#333;
  border-radius: 32px 0 32px 32px;
  padding:0 16px;
  border:solid 1px #777;padding:0 16px;
  border:solid 1px #777;
  border-right:none;
}

#send{
outline:none;
  font-size:20px;
  color:#eee;
  background:#1c1f46;
  border:none;
  border-radius: 32px;
  transition-duration:0.2s;
}
#send:active{ 
  font-size:16px;
}



 
 

.bottext{
  
  font-color: #fff;
  font-size:18px;
  font-family:monospace;
  border-right:none;
  line-height:1.5em;
  width:auto;
  max-width:60%;
  padding:14px;
  word-wrap:break-word; 
  background-color:#1c1c46;
  border-radius:16px;
  margin: 5px auto 5px auto;
  display: inline-block;

  }
  
  .usertext{
  
font-color: white;
  font-size:18px;
  font-family:monospace;
  text-align: right;
  
  }
.usertext span {
  display: inline-block;
  width:auto;
  max-width:60%;
  padding:14px; 
  background-color:#1c1c46;
  border-radius:16px;
  text-align:left;
  margin:5px auto 5px auto;
 }
 
 
 

#timeSection {

  text-align:center;
  font-color:black;
  font-size:20px;
 
 }
 

#botFirstMessage {
  
  background-color:#1c1c46;
  border-radius:16px;
  
}
 
 
.opttext{
  font-color:black;
  font-size:12px;
  font-family:monospace;
  text-align:left;
  background-color: #fff;
   border-style: solid;
border-color: #292989;
   border-radius:30px;
   padding:8px;
     width:auto;
  max-width:60%;
    display: inline-block;
    margin: 1px 1px 1px 1px;
  }
 
 .opttext: hover {
   background-color: yellow
   
 } 


  .opttext: active {
   background-color: lightblue;
   
 } 
 .arrange{
 
    
 } 
 
  
